@charset "UTF-8";

/*
em HTML é "id" == "#" em CSS  (Só pode um elemento)
em HTML é "class" == "." em CSS (Pode mais de um elemento)
*/

body {
    background-color: rgb(92, 252, 252);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: blue;
}
h1#principal {
    text-align: center;
    background-color: blue;
    color: white;
}
h2 {
    color: rgb(0, 0, 160);
}
.basico {
    color: green;
}
.intermediario {
    color: rgb(141, 141, 2);
}
.avancado {
    color: red;
}
.destaque {
    background-color: rgba(216, 216, 95, 0.548);
}