@charset "UTF-8";
 *{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
 }
 body {
    position: relative;
    border-collapse: collapse;
 }
 nav {
    position: fixed;
    background-color: black;
    color: white;
 }